{{^meals.length}}
	<div class="wrapper">
		<div class="screen container">
			<div class="icon icon-cutlery"></div>
			<div class="title">Nichts zu essen</div>
			<div class="line"></div>
			<div class="info">
				<p>Es wurden keine Gerichte geladen.</p>
				<p>Bitte versuche es später erneut.</p>
			</div>
		</div>
	</div>
{{/meals.length}}
{{#meals.length}}
	<nav>
		<div class="container">
			<a class="left arrow icon" {{#previous}}href="/meals/{{.}}"{{/previous}}></a>
			<select onchange="location=this.value">
				{{#options}}
					<option value="/meals/{{#date}}{{Y}}-{{m}}-{{d}}{{/date}}" {{#selected}}selected{{/selected}}>
						{{#date}}
							[[date.l.{{w}}]] &middot; {{d}}.{{m}}.
						{{/date}}
					</option>
				{{/options}}
			</select>
			<a class="right arrow icon" {{#next}}href="/meals/{{.}}"{{/next}}></a>
		</div>
	</nav>
	
	<div class="wrapper">
		<div class="list">
			<div class="container">
				{{#meals}}
					<div class="meal article">
						<div class="photo">
							<img src="{{photo}}" alt="Bild konnte nicht geladen werden">
						</div>
						<div class="data">
							<div class="title">{{title}}</div>
							<a class="info icon-prepend icon" href="#legend">{{additives}}</a>
							<div class="price">{{price}}</div>
						</div>
					</div>
				{{/meals}}
			</div>
		</div>
		
		<div class="legend" id="legend">
			<div class="container">
				<div class="title">Allergene</div>
				<div class="columns">
					<table>
						{{#allergens}}
							<tr>
								<th>{{key}}</th>
								<td>{{value}}</th>
							</tr>
						{{/allergens}}
					</table>
				</div>
				
				<div class="title">Zusatzstoffe</div>
				<div class="columns">
					<table>
						{{#additives}}
							<tr>
								<th>{{key}}</th>
								<td>{{value}}</td>
							</tr>
						{{/additives}}
					</table>
				</div>
			</div>
		</div>
		
		<div class="note">
			<div class="container">
				<p>Speisefotos und Speiseplan</p>
				<p>© <a href="https://www.studierendenwerk-stuttgart.de/" target="_blank">Studierendenwerk Stuttgart</a> {{#now}}{{Y}}{{/now}}</p>
			</div>
		</div>
	</div>
{{/meals.length}}