{{^messages.length}}
	<div class="wrapper">
		<div class="screen container">
			<div class="icon icon-comment-o"></div>
			<div class="title">Keine Nachrichten</div>
			<div class="line"></div>
			<div class="info">
				<p>Es liegen keine Nachrichten für dich vor.</p>
			</div>
		</div>
	</div>
{{/messages.length}}
{{#messages.length}}
	<div class="wrapper">
		<div class="list">
			<div class="container">
				{{#messages}}
					<a {{#href}}href="{{.}}"{{/href}} {{#blank}}target="_blank"{{/blank}} class="message article">
						<div class="date icon-prepend icon">
							{{#sent}}
								{{d}}.{{m}}.{{Y}}
							{{/sent}}
						</div>
						<div class="title">{{title}}</div>
						<div class="description">{{text}}</div>
					</a>
				{{/messages}}
			</div>
		</div>
	</div>
{{/messages.length}}