{{^printers.length}}
	<div class="wrapper">
		<div class="screen container">
			<div class="icon-files-o icon"></div>
			<div class="title">Keine Drucker</div>
			<div class="line"></div>
			<div class="info">
				<p>Es wurden keine Daten geladen.</p>
				<p>Bitte versuche es später erneut.</p>
			</div>
		</div>
	</div>
{{/printers.length}}
{{#printers.length}}
	<nav>
		<div class="bar container">
			<a href="mailto:info@hft-app.de?subject=Veraltete%20Druckerdaten">
				Veraltete Daten melden
			</a>
		</div>
	</nav>
	
	<div class="wrapper">
		<div class="list">
			<div class="container">
				{{#printers}}
					<div class="printer article">
						<div class="title">{{title}}</div>
						<div class="data">
							<div class="room info icon icon-prepend">{{room}}</div>
							<div class="size info icon icon-prepend">{{sizes}}</div>
							<div class="type info icon icon-prepend">{{type}}</div>
						</div>
					</div>
				{{/printers}}
			</div>
		</div>
		
		<div class="note">
			<div class="container">
				<p>Druckerstandorte</p>
				<p>© <a href="http://www.hft-stuttgart.de/" target="_blank">Hochschule für Technik Stuttgart</a></p>
			</div>
		</div>
	</div>
{{/printers.length}}