<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="google" content="notranslate">
		
		<title>HFT App &middot; Anmelden</title>
		
		<link rel="stylesheet" href="/style/login.scss">
	</head>
	<body>
		<header>
			<div class="container">
				<h1>
					<span class="light">Hochschule </span>
					<span class="bold">für&nbsp;Technik</span>
				</h1>
			</div>
		</header>
		
		<section>
			<div class="container">
				<div class="icons">
					<span class="icon icon-id-badge"></span>
					<span class="icon icon-lock"></span>
				</div>
				
				<div class="info">
					{{#error}}
						[[#error.{{error}}]]
							<p>[[.]]</p>
						[[/error.{{error}}]]
						
						[[^error.{{error}}]]
							<p>Ein unbekannter Fehler ist aufgetreten.</p>
							<p>{{error}}</p>
						[[/error.{{error}}]]
					{{/error}}
					
					{{^error}}
						<p>Melde dich mit deinem Konto an.</p>
						<p>Deine Daten werden verschlüsselt übertragen.</p>
					{{/error}}
				</div>
			
				<form method="POST" {{#failed}}class="shaking"{{/failed}} onsubmit="this.querySelector('button').classList.add('active')">
					<div class="group">
						<input required name="username" type="text" placeholder="Benutzername">
						<input required name="password" type="password" placeholder="Passwort">
					</div>
					<label>
						<input required name="accepted" type="checkbox" value="true">
						<span>Ich akzeptiere die <a class="underlined" href="//luniversity.de/info/terms" title="Nutzungsbedingungen" target="_blank">Nutzungsbedingungen</a>.</span>
					</label>
					<button name="submit" data-idle="Anmelden" data-active="Meldet an..."></button>
				</form>
			</div>
		</section>
		
		<footer>
			<div class="container">
				<span>
					<a href="https://github.com/luniverse/hft-app" title="GitHub Repository" target="_blank" class="icon icon-prepend icon-github-alt">hft-app</a> &middot; 
					<a href="//luniversity.de/info/imprint" title="Impressum" target="_blank">Impressum</a>
				</span>
			</div>
		</footer>
	</body>
</html>