<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="google" content="notranslate">
		
		<title>HFT App &middot; [[page.{{page}}.title]]</title>
		
		<link rel="stylesheet" href="/style/main.scss">
		
		<link rel="icon" type="image/png" href="/image/favicon.png">
		
		<script>
			{{! Add metrics to insight report }}
			var _paq = _paq || [];
			{{#username}}_paq.push(['setUserId', '{{.}}']);{{/username}}
			{{#device}}_paq.push(['setCustomDimension', 1, '{{.}}']);{{/device}}
			{{#version}}_paq.push(['setCustomDimension', 2, '{{.}}']);{{/version}}
		</script>
		
		<script src="/script/client/lu.min.js" defer></script>
		<script src="/script/client/shell.js" defer></script>
		<script src="/script/client/insight.js" defer></script>
	</head>
	<body>
		<header>
			<div class="container">
				<a class="menu icon" href="/menu"></a>
				<div class="title">[[page.{{page}}.title]]</div>
				<a class="refresh icon" href="?refresh"></a>
			</div>
		</header>
		
		{{#module}}
			{{>content}}
		{{/module}}
		
		<footer>
			<div class="container">
				{{#tabs}}
					<a href="/{{name}}" {{#active}}class="active"{{/active}}>
						<span class="icon {{name}}"></span>
						<span class="title">[[page.{{name}}.tab]]</span>
					</a>
				{{/tabs}}
			</div>
		</footer>
	</body>
</html>