@import 'icons';

@keyframes Shake {
	0%, 100% { margin: 0; }
	25% { margin: 0 -4px 0 4px; }
	75% { margin: 0 4px 0 -4px; }
}

$primary: #D41A17;
$background: #FAFBFC;
$text: #1D2129;
$gray: #777;

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html { height: 100%; }
body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 18px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	background-color: $background;
	color: $text;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

button, input {
	font: inherit;
	color: inherit;
}

a {
	color: inherit;
	text-decoration: none;
	
	&.underlined { text-decoration: underline; }
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
	max-width: 310px;
	
	@media screen and (min-width: 700px) { max-width: 500px; }
}

header {
	padding: 40px 0;
	
	h1 {
		margin: 0;
		color: $primary;
		font-size: 2.2em;
		text-align: center;
		text-shadow: 1px 1px 1px #FFF;
		
		span.light { font-weight: 200; }
		span.bold { font-weight: 400; }
	}
}

section {	
	.icons {
		display: flex;
		justify-content: center;
		margin-bottom: 15px;
		
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 70px;
			height: 70px;
			border-radius: 35px;
			color: $background;
			background-color: $primary;
			margin: 0 -6px;
			border: 3px solid $background;
			z-index: 2;
			
			& + span { z-index: 1; }
			
			&.icon-lock { font-size: 2em; }
			&.icon-id-badge { font-size: 1.7em; }
		}
	}
	
	.info {
		font-size: 0.8em;
		line-height: 1.4;
		color: $gray;
		text-align: center;
		
		p { margin: 0; }
		p + p { margin-top: 0.5em; }
	}
	
	form {
		margin: 0 auto;
		padding-top: 30px;
		max-width: 270px;
		width: 100%;
		
		&.shaking .group { animation: Shake 0.2s 2; }
		
		input[type="text"], input[type="password"], button {
			border: none;
			border-radius: inherit;
			outline: none;
			padding: 0.7em 0.8em;
			margin: 0;
			width: 100%;
			background: #FFF;
			position: relative;
			-webkit-appearance: none;
		}
			
		input[type="text"], input[type="password"] {
			border: 1px solid #DDDFE2;
			color: $text;
			z-index: 1;
			
			&:focus {
				border-color: #007AFF;
				z-index: 2;
			}
			
			&[name="username"] {
				border-radius: 6px 6px 0 0;
				margin-bottom: -1px;
			}
			
			&[name="password"] {
				border-radius: 0 0 6px 6px;
			}
		}
		
		label {
			margin: 1.2em 0 1.6em;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $gray;
			font-weight: 300;
			font-size: 0.6em;
			
			input[type="checkbox"] { margin-right: 1em; }
		}
			
		button {
			border-radius: 6px;
			background: linear-gradient($primary, darken($primary, 8%));
			color: $background;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			font-weight: 300;
			
			&::after { content: attr(data-idle); }
			&.active {
				opacity: 0.6;
				pointer-events: none;
				
				&::after { content: attr(data-active); }
			}
		}
	}
}

footer {
	font-size: 12px;
	color: $gray;
	text-align: center;
	padding: 40px 0;
}