<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-studentid" version="2.4.0">
    <name>Student ID Plugin</name>
    <description>
      Plugin for reading Student ID with Mifare Classic or DESFire
    </description>
    <engines>
        <engine name="cordova-android" version=">=4.0.0"/>
    </engines>
    <js-module src="www/studentid.js" name="studentid">
        <clobbers target="cordova.plugin.studentid"/>
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="StudentID">
                <param name="android-package" value="de.hft.cordova.studentid.StudentID"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.NFC"/>
        </config-file>
        <source-file src="src/android/de/hft/cordova/studentid/StudentID.java" target-dir="src/de/hft/cordova/studentid/"/>
    </platform>
</plugin>
