<?xml version='1.0' encoding='utf-8'?>
<widget id="de.hft.app" version="3.0.9" xmlns="http://www.w3.org/ns/widgets">
  <name>HFT App</name>
  <description>
    The HFT App
  </description>
  <author email="info@hft-app.de" href="http://hft-app.de">
    Lukas Jans &amp; Christoph Walcher
  </author>
  <content src="index.html"/>
  <plugin name="cordova-plugin-whitelist" spec="1"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>

  <preference name="DisallowOverscroll" value="true"/>
  <preference name="StatusBarOverlaysWebView" value="false"/>
  <preference name="StatusBarBackgroundColor" value="#D41A17"/>
  <preference name="StatusBarDefaultScrollToTop" value="true"/>

  <platform name="android">
    <allow-intent href="market:*"/>
    <icon src="../image/icon.png"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="../image/dist/icon_60.png" width="60" height="60"/>
    <icon src="../image/dist/icon_120.png" width="120" height="120"/>
    <icon src="../image/dist/icon_180.png" width="180" height="180"/>
    <!-- iPad -->
    <icon src="../image/dist/icon_76.png" width="76" height="76"/>
    <icon src="../image/dist/icon_152.png" width="152" height="152"/>
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="../image/dist/icon_20.png" width="20" height="20"/>
    <icon src="../image/dist/icon_40.png" width="40" height="40"/>
    <icon src="../image/dist/icon_80.png" width="80" height="80"/>
    <!-- iPhone / iPod Touch -->
    <icon src="../image/dist/icon_57.png" width="57" height="57"/>
    <icon src="../image/dist/icon_114.png" width="114" height="114"/>
    <!-- iPad -->
    <icon src="../image/dist/icon_72.png" width="72" height="72"/>
    <icon src="../image/dist/icon_144.png" width="144" height="144"/>
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="../image/dist/icon_29.png" width="29" height="29"/>
    <icon src="../image/dist/icon_58.png" width="58" height="58"/>
    <icon src="../image/dist/icon_87.png" width="87" height="87"/>
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="../image/dist/icon_50.png" width="50" height="50"/>

    <icon src="../image/dist/icon_167.png" width="167" height="167"/>
    <icon src="../image/dist/icon_1024.png" width="1024" height="1024"/>

    <!-- TODO https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-splashscreen/ not yet installed -->
    <splash src="../image/dist/splash_320x480.png" width="320" height="480"/>
    <splash src="../image/dist/splash_640x960.png" width="640" height="960"/>
    <splash src="../image/dist/splash_768x1024.png" width="768" height="1024"/>
    <splash src="../image/dist/splash_1536x2048.png" width="1536" height="2048"/>
    <splash src="../image/dist/splash_1024x768.png" width="1024" height="768"/>
    <splash src="../image/dist/splash_2048x1536.png" width="2048" height="1536"/>
    <splash src="../image/dist/splash_640x1136.png" width="640" height="1136"/>
    <splash src="../image/dist/splash_750x1334.png" width="750" height="1334"/>
    <splash src="../image/dist/splash_1242x2208.png" width="1242" height="2208"/>
    <splash src="../image/dist/splash_2208x1242.png" width="2208" height="1242"/>
  </platform>
</widget>
